{% extends 'app.html' %}
{% block content %}

<div style="width: 100%; height: 100vh; background-image: url('./static/bg.jpg'); background-position: center; background-size: cover; background-repeat: no-repeat;">
    <center>
        <h1 style= "color:green;">Home page</h1>

        <a href="/login" class="btn btn-secondary mt-4">Login</a>
        <a href="/register" class="btn btn-secondary mt-4">Register</a>
        <a href="/dashboard" class="btn btn-secondary mt-4">Dashboard</a>
    </center>
</div>

{% endblock %}
